<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>atribuições</title>
</head>
<body>
    <h1>Esse é só um rascunho</h1>
    <ul>
        <li><a href="https://www.flaticon.com/br/icones-gratis/farmacia" title="farmacia ícones">Farmacia ícones criados por Freepik - Flaticon</a></li>
        <li><a href="https://www.flaticon.com/free-icons/tub" title="tub icons">Tub icons created by Yuan Design - Flaticon</a></li>
        <li><a href="https://www.flaticon.com/free-icons/stethoscope" title="stethoscope icons">Stethoscope icons created by Septiana Faza - Flaticon</a></li>
        <li><a href="https://www.flaticon.com/br/icones-gratis/exercicio" title="exercício ícones">Exercício ícones criados por Freepik - Flaticon</a></li>
   
    </ul>
</body>
</html>